REDIS_HOST=ugc-redis
REDIS_REFRESH_TOKEN_EXPIRE=86400 # 24 hours
REDIS_ACCESS_TOKEN_EXPIRE=900 # 15 min
REDIS_PORT=6379

SERVER_HOST=ugc-api
SERVER_PORT=8000
SERVER_DEBUG=True

SERVICE_URL=http://ugc-api:8000